@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;

}


.main {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/9f46b569-aff7-4975-9b8e-3212e4637f16/453ba2a1-6138-4e3c-9a06-b66f9a2832e4/IN-en-20240415-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 100vh;
    position: relative;
    
}

.main .box {
    height: 100vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

.main input {
    padding: 20px 14px;
    font-size: 17px;
    border: none;
    text-align: left;
    background-color: rgba(23, 23, 23, 0.7);
    color: white;
    outline: none;
    height: 22px;
}

.main input::placeholder {
    text-align: left;
    font-size: 17px;
}

.main input:focus {
    outline: 2px solid white;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

nav img {
    color: red;
    width: 133px;
    position: relative;
    z-index: 10;

}

body {
    background-color: black;
    user-select: none;
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: 'poppins', sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(45, 45, 45);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 10px 20px;
    font-weight: 600;
    color: white;
    background-color: rgba(248, 243, 243, 0.173);
    position: relative;
    z-index: 10;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    font-family: 'poppins', sans-serif;
    transition: background-color 0.5s ease;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 15px 3px 14px;
    font-size: 20px;
    border-radius: 4px;
    border-style: hidden;
    text-align: center;
    font-weight: 400;
    height: 37px;
}

.btn:hover {
    background-color: #FF4500;
}

.btn-red-sm {

    background-color: red;
    color: white;

}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

}

.main input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;

    border-radius: 4px;
    text-align: left;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgpa(246, 238, 238, 0.5);
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}

.secimg {
    position: relative;
}

.secimg img {
    width: 555px;
    position: relative;
    z-index: 10;

}

.secimg video {

    position: absolute;
    top: 100px;
    right: 4px;

}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: bolder;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;

}

.faqbox {
    display: flex;
    transition: all 1s ease-out;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 70vw;
    margin: 10px auto 0;
    cursor: pointer;
    font-size: 24px;
    text-align: left;
    transition: color 0.3s ease;
}

.faqbox:hover {

    background-color: #414141;
    color: #FF4500;
}

.faqbox svg {
    filter: invert(1);
}

.answer {
    background-color: #2d2d2d;
    padding-inline: 24px;
    max-width: 70vw;
    margin: 2px auto;
    cursor: default;
    font-size: 24px;
    color: white;
    text-align: justify;
    word-spacing: 5px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

.answer.active {
    display: block;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;

}

@media screen and (max-width:957px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

}

@media screen and (max-width:957px) {

    .first {
        flex-wrap: wrap;
    }

    .secimg {
        position: relative;
    }

    .secimg img {
        width: 305px;
        position: relative;
        z-index: 10;

    }

    .secimg video {
        width: 250px;
        position: absolute;
        top: 80px;
        right: 4px;

    }

    .hero> :nth-child(1) {

        font-size: 32px;
    }

    .hero> :nth-child(2) {

        font-size: 18px;
    }

    .hero> :nth-child(3) {

        font-size: 18px;
    }

    nav {
        max-width: 90vw;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;

    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
    }

    .footer-item {
        align-items: center;
    }
    .main{
        height: 70vh;
        position: relative;
    }
    .main .box{
        height: 70vh;

    }


}

.footer a {
    font-size: 14px;
    color: white;
}

footer .questions {
    padding: 34px 0;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 108px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 4px;
    margin-top: 1px;
}

.dropdown-content a {
    color: black;
    padding: 4px 2px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 14px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content a:hover {
    color: red;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 2.5px;
}

.placeholder {
    max-width: 60vw;
    margin: auto;
    padding: 34px 0;
    text-align: center;
    word-spacing: 2px;
    max-height: 60px;
}

.placeholder .main-input {
    padding: 11px 101px 11px 14px;
    font-size: 12px;
    border-radius: 4px;
    text-align: left;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    color: white;
    margin-bottom: 10px;
}

.placeholder .btn {
    padding: 10px 20px;
    font-weight: 600;
    color: white;
    background-color: rgba(248, 243, 243, 0.173);
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.placeholder .btn-red {
    background-color: red;
    color: white;
    padding: 0px 15px 3px 14px;
    font-size: 15px;
    border-radius: 4px;
    border-style: hidden;
    text-align: center;
    font-weight: 400;
    height: 37px;
}

.placeholder .btn:hover {
    background-color: #FF4500;
}